{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true,
      "paths": {
      "presentation/*": ["./presentation/*"]
      }
    }
  },
  "module": {
    "type": "commonjs"
  }
}
